.popup {

    &__content {

        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 20px;

    }

    &__item {

        display: flex;
        margin-bottom: 20px;

        &_row {

            display: flex;
            align-items: center;

        }

        &_column {

            display: flex;
            flex-direction: column;

        }

        &:last-child {

            margin-bottom: 0;

        }
    }

    &__row {

        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__label {

        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 15px;

        &_file {



        }

    }

    &__input {

        border: 0;
        font-size: 31px;
        font-weight: 300;
        color: #000;

        &_file {



        }
    }

    &__agree {

        font-size: 16px;

        &-link {

            color: #000;
            border-bottom: 1px solid #000;
            transition: .3s ease;

            &:hover {

                color: $color-green;
                border-color: $color-green;
                transition: .3s ease;

            }
        }
    }

    &__select {

        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 1px solid #d9d9d9;
        background-color: transparent;
        position: relative;
        padding: 9px 10px;
        width: 85px;
        color: #1a1a1a;
        font-weight: bold;
        font-size: 14px;
        cursor: pointer;


        &-wrapper {

            display: flex;
            align-items: center;
            position: relative;

            &:after {

                content: '';
                position: absolute;
                right: 5px;
                width: 10px;
                height: 12px;
                background: url('/images/icons/arrow-down.svg') no-repeat center;
                background-size: contain;
                pointer-events: none;


            }


        }

        &-text {

            margin-right: 10px;

        }

    }


}


/* Styling Checkbox Starts */
.checkbox-label {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 28px;
    width: 28px;
    clear: both;
    margin-right: 10px;

    input {

        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
}


.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid $color-green;
}


.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #FFFFFF;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid $color-green;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #009BFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity:1;
    left: 8px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid #009BFF;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
}



/* For Ripple Effect */
.checkbox-label .checkbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 2px solid $color-green;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);    
}

.checkbox-label input:checked ~ .checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    opacity:0;
    z-index: 999;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

