.popup {

    &__wrapper {
    
        display: flex;
        flex-direction: column;
    
    }

    &__item {
    
        display: flex;
        margin-bottom: 20px;

        &_row {}

        &_column {
        
            display: flex;
            flex-direction: column;

        }

        &:last-child {
        
            margin-bottom: 0;
        
        }
    }

    &__title {

        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 15px;
    
    
    }

    &__input {
    
        border: 0;
        font-size: 31px;
        font-weight: 300;
        color: #000;
    
    }
}
