@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700&display=swap');

@font-face {
    font-family: "CaviarDreamsBold";  
    src: url("../fonts/CaviarDreams/CaviarDreams-Bold.woff") format('woff'),
            url("../fonts/CaviarDreams/CaviarDreams-Bold.eot") format('eot'),
            url("../fonts/CaviarDreams/CaviarDreams-Bold.ttf") format('ttf');
    font-display: auto;
    font-style: normal; 
    font-weight: bold;
}

