<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__menu">
            <div class="footer__menu-wrapper">
                <div class="footer__section-title">разделы</div>
                <nav class="footer__nav footer-nav"><a class="footer-nav__link" href="#">О нас</a><a class="footer-nav__link" href="#">Продукция</a><a class="footer-nav__link" href="#">Контакты</a></nav>
            </div>
            <div class="footer__menu-wrapper">
                <div class="footer__section-title">каталог</div>
                <nav class="footer__nav footer-nav"><a class="footer-nav__link" href="#">Вся продукция</a><a class="footer-nav__link" href="#">Ножи промышленные</a><a class="footer-nav__link" href="#">Гильотины</a><a class="footer-nav__link" href="#">Заточенные</a><a class="footer-nav__link" href="#">Пилы</a></nav>
            </div>
        </div>
        <div class="footer__contact footer-contact">
            <div class="footer-contact__contacts"><a class="footer-contact__contacts-link" href="tel: +7 (812) 380 85 32">+7 (812) 380 85 32 </a><a class="footer-contact__contacts-link" href="tel: +7 (812) 380 85 32">sales@bktforsunka.ru </a></div>
            <div class="footer-contact__row">
                <div class="footer-contact__link">Заказать звонок</div>
                <div class="footer-contact__link">Оставить запрос</div>
            </div>
        </div>
    </div>
</footer>