<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__menu">
            <nav class="footer__nav footer-nav"><a class="footer-nav__link" href="#">О нас</a><a class="footer-nav__link" href="#">Продукция</a><a class="footer-nav__link" href="#">Контакты</a></nav>
            <nav class="footer__nav footer-nav"><a class="footer-nav__link" href="#">Вся продукция</a><a class="footer-nav__link" href="#">Ножи промышленные</a><a class="footer-nav__link" href="#">Гильотины</a><a class="footer-nav__link" href="#">Заточенные</a><a class="footer-nav__link" href="#">Пилы</a></nav>
        </div>
    </div>
</footer>