<header class="header">
    <div class="header__wrapper">
        <div class="header__wrapper-left"><a class="header__logo" href="/index.html"></a>
            <div class="button-menu button-menu_header" id="header__menu-btn"><button class="hamburger hamburger--spin" type="button"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div>
            <nav class="header__nav header-nav">
                <div class="header-nav__wrapper-title">
                    <div class="button-menu button-menu_header"><button class="hamburger hamburger--spin" type="button"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div>
                    <div class="header-nav__title">Меню</div>
                </div><a class="header-nav__link" href="#">О нас</a><a class="header-nav__link" href="#">Продукция</a><a class="header-nav__link" href="#">Контакты</a>
            </nav>
        </div>
        <div class="header__contacts header-contacts"><a class="header-contacts__link" href="tel: +7 (812) 380 85 32">+7 (812) 380 85 32;</a><a class="header-contacts__link" href="mailTo: sales@bktforsunka.ru">sales@bktforsunka.ru</a></div>
    </div>
</header>