doctype html
html(lang="ru")

    head

        title БКТ
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="msapplication-TileColor" content="#ffffff")
        //meta(name="msapplication-TileImage" content="/images/faviocns/ms-icon-144x144.png")
        meta(name="theme-color" content="#ffffff")
        link(rel="stylesheet" href="./css/main.css")

    body.body

        include components/header

        main.main

            .main__wrapper

                section.section.section-swiper

                    .section-swiper__pagination

                    .section-swiper__next

                        .section-swiper__next-wrapper

                    .section-swiper__wrapper

                        - for (var x = 0; x < 3; x++)

                            .section-swiper__slide

                                .section-swiper__content
                                    
                                    .section-swiper__title 
                                        |Steel
                                        br
                                        |Series

                .main__container

                    section.section.section-info

                        .section-info__item.section-info-item

                            .section-info-item__image

                            h3.section-info-item__title Первые по разработке ножей в России 

                            .section-info-item__description Мы лидеры среди российских компаний по качеству ножей.

                        .section-info__item.section-info-item

                            .section-info-item__image

                            h3.section-info-item__title 11 лет на рынке промышленных ножей

                            .section-info-item__description Качество - проверенное временеми удобство, проверенное людьми!

                        .section-info__item.section-info-item

                            .section-info-item__image

                            .section-info-item__wrapper-title
                             
                                span.section-info-item__info >1млн

                                h3.section-info-item__title Ножей выпущено

                            .section-info-item__description К настоящему времени в производстве используется более миллиона наших ножей
                        
                        .section-info__item.section-info-item

                            .section-info-item__image

                            .section-info-item__wrapper-title
                             
                                span.section-info-item__info 100%

                                h3.section-info-item__title 
                                    |Сервис
                                    br
                                    |Гарантия

                            .section-info-item__description Мы гарантируем качество продукции и предоставляем бесплатне обслуживание

                    section.section.section-purpose

                        .section-purpose__image

                        .section-purpose__wrapper

                            h2.title.title_h2 Наша миссия — работать для вас

                            .section-purpose__content

                                .section-purpose__column
                                    |Lorem ipsum dolor sit amet,
                                    |consectetur adipisicing elit,
                                    |sed do eiusmod tempor incididunt
                                    |ut labore et dolore magna aliqua.
                                    |Ut enim ad minim veniam, quis nostrud
                                    |exercitation ullamco laboris nisi ut
                                    |aliquip ex ea commodo consequat.
                                    |Duis aute irure dolor in reprehenderit
                                    |in voluptate velit esse cillum dolore
                                    |eu fugiat nulla pariatur.
                                    |Excepteur sint occaecat cupidatat non proident,
                                    |sunt in culpa qui officia deserunt mollit
                                    |anim id est laborum. Sed ut perspiciatis
                                    |unde omnis iste natus error sit voluptatem
                                    |accusantium doloremque laudantium,
                                    |totam rem aperiam, eaque ipsa quae
                                    |ab illo inventore veritatis et quasi
                                    |architecto beatae vitae dicta sunt
                                    |explicabo. Nemo enim ipsam voluptatem
                                    
                                .section-purpose__column
                                    |Lorem ipsum dolor sit amet,
                                    |consectetur adipisicing elit,
                                    |sed do eiusmod tempor incididunt
                                    |ut labore et dolore magna aliqua.
                                    |Ut enim ad minim veniam, quis nostrud
                                    |exercitation ullamco laboris nisi ut
                                    |aliquip ex ea commodo consequat.
                                    |Duis aute irure dolor in reprehenderit
                                    |in voluptate velit esse cillum dolore
                                    |eu fugiat nulla pariatur.
                                    |Excepteur sint occaecat cupidatat non proident,
                                    |sunt in culpa qui officia deserunt mollit
                                    |anim id est laborum. Sed ut perspiciatis
                                    |unde omnis iste natus error sit voluptatem
                                    |accusantium doloremque laudantium,
                                    |totam rem aperiam, eaque ipsa quae
                                    |ab illo inventore veritatis et quasi
                                    |architecto beatae vitae dicta sunt
                                    |explicabo. Nemo enim ipsam voluptatem

                            include components/btn-contact


        include components/footer.pug

    script(src="./js/main.js")
