doctype html
html(lang="ru")

    head

        title БКТ
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="msapplication-TileColor" content="#ffffff")
        //meta(name="msapplication-TileImage" content="/images/faviocns/ms-icon-144x144.png")
        meta(name="theme-color" content="#ffffff")
        link(rel="stylesheet" href="./css/main.css")

    body.body

        include components/header

        main.main

            .main__wrapper

                .products

                    .products__wrapper

                        h2.title.title_h2 Продукция

                        .products__text

                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            |sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            |nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                            |reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            |Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            |mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                            |voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
                            |ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                            |Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                            |sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                            |Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                            |adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                            |labore et dolore magnam aliquam quaerat voluptatem.

                    section.section-products

                        .section-products__menu

                            .section-products__category

                                .section-products__category-item.section-products__category-item_active Гильотины

                                .section-products__category-item Дисковые

                                .section-products__category-item Заточенные

                                .section-products__category-item Другие

                            .section-products__sort

                                .section-products__sort-item сначала крупные

                                .section-products__sort-item сначала маленькие

                        .section-products__catalog.section-products-catalog

                            a(href="./product.html").section-products-catalog__item

                                .section-products-catalog__item-image

                                .section-products-catalog__item-title Для бумагообрезательных машин

                            a(href="./product.html").section-products-catalog__item

                                .section-products-catalog__item-image

                                .section-products-catalog__item-title Для каких целей служат эти ножи, или серия или еще что -то, максимум в 2 строки

                            a(href="./product.html").section-products-catalog__item

                                .section-products-catalog__item-image

                                .section-products-catalog__item-title Для бумагообрезательных машин

                            a(href="./product.html").section-products-catalog__item

                                .section-products-catalog__item-image

                                .section-products-catalog__item-title Для бумагообрезательных машин

        include components/footer.pug

    script(src="./js/main.js")
