.section-production {

    display: flex;
    margin-top: 85px;

    @media screen and (max-width: 916px) {
            
        flex-direction: column;
        margin-top: 0;

    }

    &__content {

        display: flex;
        flex-direction: column;
        max-width: 330px;
        flex-shrink: 0;
        margin-right: 140px;

        @media screen and (max-width: 1086px) {
            
            margin-right: 70px;

        }

        @media screen and (max-width: 916px) {
            
            margin: 0;
            max-width: none;
            width: 100%;
            box-sizing: border-box;
            padding: 0 20px;
            margin-bottom: 20px;
    
        }
    
    }

    &__text {
    
        margin-top: 25px;
    
    }

    /* autoprefixer grid: autoplace */

    &__tiles {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 315px 315px;
        gap: 70px;

        @media screen and (max-width: 1086px) {
            
            grid-template-rows: 200px 200px;
            gap: 30px;

        }

        @media screen and (max-width: 916px) {
            
            display: flex;
            flex-direction: column;
            grid-template-columns: none;
            grid-template-rows: none;
            gap: 0;


        }
    }

}

.section-production-tiles__item {

    background: url('../images/section-purpose__image.png') no-repeat center / cover;
    overflow: hidden;

    &:nth-child(4n +2) {

        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;

    }

    @media screen and (max-width: 916px) {
            
        dispay: none;
        padding: 0;

        &:nth-child(1), &:nth-child(2){

            display: flex;
        }

        &:nth-child(1) {
            
            width: 100%;
            height: 312px;
    
        }
    }
}

.section-partners {

    display: flex;
    flex-direction: column;
    max-width: calc(1280px + 480px);
    width: 100%;
    margin-top: 118px;

    @media screen and (max-width: 1280px) {

        padding: 0 20px;
        box-sizing: border-box;

    }

    @media screen and (max-width: 456px) {

        margin-top: 47px;

    }

    &__wrapper {

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 170px);
        gap: 15px;
        margin-top: 45px;
        box-sizing: border-box;
        padding: 0 40px;

        @media screen and (max-width: 1426px) {

            grid-template-columns: repeat(4, 1fr);

        }

        @media screen and (max-width: 1280px) {

            padding: 0;

        }


        @media screen and (max-width: 956px) {

            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(6, 140px);
            gap: 12px;

        }


        @media screen and (max-width: 456px) {

            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(6, 70px);
            gap: 8px;

        }
    }

    &__item {

        box-sizing: border-box;
        border: 1px solid $color-gray;
        padding: 7px;

    }

    &__item-image {
    
        width: 100%;
        height: 100%;
        background: url('../images/section-purpose__image.png') no-repeat center / cover;

    }

    .title {
    
        width: 100%;
        box-sizing: border-box;
        padding: 0 240px;

        @media screen and (max-width: 1280px) {

            padding: 0;

        }

    
    }
}
