.section-swiper {

    position: relative;
    width: 100%;
    height: 790px;
    overflow: hidden;

    @media screen and (max-width: 1198px) {

        height: 365px;

    }

    &__wrapper {

        display: flex;
        height: 100%;

    }

    &__slide {

        width: 100%;
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        background: $color-gray url('../images/section-swiper__bg.png') no-repeat center / cover;
        height: 100%;

        @media screen and (max-width: 1198px) {

            justify-content: flex-start;

        }

    }

    &__content {

        max-width: $width-container;
        width: 100%;
        padding: 97px 0 215px 114px;
        box-sizing: border-box;

        @media screen and (max-width: 1198px) {

            padding: 20px;

        }

    }

    &__title {

        font-family: $font-title;
        font-size: 277px;
        font-weight: bold;
        line-height: .94;
        text-transform: uppercase;
        letter-spacing: -14px;

        @media screen and (max-width: 1198px) {

            font-size: 78px;
            letter-spacing: 0;

        }

    }

    &__next {

        position: absolute;
        bottom: 93px;
        width: 100%;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding-right: 909px;
        flex-shrink: 0;
        z-index: 3;
        cursor: pointer;

        &:active,
        &:focus {
            outline: none;
        }

        &:-moz-focus-inner {
            border: 0;
        }

        @media screen and (max-width: 1198px) {

            bottom: 80px;
            width: auto;
            margin: 0 0 0 20px;
            padding: 0;

        }
    }

    &__next-wrapper {

        width: 82px;
        height: 82px;
        background: $color-green url('../images/icons/next.svg') no-repeat 30px center / 30%;
        border-radius: 50%;

        @media screen and (max-width: 1198px) {

            width: 60px;
            height: 60px;
            background-position-x: 22px;

        }

    }

    &__pagination {

        position: absolute;
        bottom: 33px;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        height: 13px;
        max-width: 50px;
        width: 100%;

        @media screen and (max-width: 1198px) {

            bottom: 20px;

        }

    }

    &__bullet {

        flex-shrink: 0;
        width: 14px;
        height: 100%;
        margin-right: 19px;
        z-index: 3;
        border-radius: 50%;
        background-color: #dcdcdc;
        transition: .3s ease;
        cursor: pointer;

        &_active {

            background-color: $color-green;
            transition: .3s ease;

        }

        &:last-child {

            margin: 0;

        }
    }
}

.section-info {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 71px;
    margin-bottom: 83px;

    @media screen and (max-width: 616px) {

        flex-direction: column;
        margin-top: 0;

    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
        display: flex;
        flex-direction: column;
        align-items: center;
     }
}

.section-info-item {

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 288px;
    box-sizing: border-box;
    padding: 10px;

    @media screen and (max-width: 616px) {

        flex-direction: row;
        align-items: center;
        max-width: none;


        .section-info-item__image {

            width: 45px;
            height: 45px;

        }

        &:nth-child(odd) {

            .section-info-item__image {

                margin-right: 16px;

            }

            .section-info-item__title {

                text-align: left;

            }

        }

        &:nth-child(even) {

            flex-direction: row-reverse;

            .section-info-item__image {


                margin-left: 16px;

            }

            .section-info-item__title {

                text-align: right;

            }
        }
    }

    &__image {

        background: url('../images/section-info-item__image.png') no-repeat center / contain;
        width: 94px;
        height: 94px;
        flex-shrink: 0;
        margin-bottom: 50px;

        @media screen and (max-width: 616px) {

            margin-bottom: 0;

        }
    }

    &__wrapper-title {

        display: flex;
        align-items: center;
        margin-bottom: 20px;
        

        .section-info-item__title {

            margin-bottom: 0;
            text-align: left;

        }

    }

    &__info {

        font-size: 42px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 0.3px;
        letter-spacing: -3.15px;
        margin-right: 10px;

    }

    &__title {

        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.83px;
        line-height: 1.1;
        margin: 0 0 20px;

    }

    &__description {

        font-size: 17px;
        letter-spacing: .6px;
        line-height: 0.9;
        text-align: center;

        @media screen and (max-width: 616px) {

            display: none;

        }
    }
}

.section-purpose {

    display: flex;
    

    @media screen and (max-width: 916px) {

        flex-direction: column;
        margin-top: 10px;

    }

    &__image {

        max-width: 520px;
        width: 100%;
        height: 480px;
        background: url('../images/section-purpose__image.png') no-repeat center / cover;
        flex-shrink: 0;
        margin-right: 33px;

        @media screen and (max-width: 916px) {

            max-width: none;
            height: 312px;

        }

    }

    &__wrapper {

        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 37px;

        @media screen and (max-width: 916px) {

            box-sizing: border-box;
            padding: 20px;

        }

    }

    &__content {

        display: flex;
        margin-top: 24px;
        margin-bottom: 52px;

    }

    &__column {

        margin-right: 20px;
        line-height: 1.24;

        @media screen and (max-width: 1198px) {

            margin-right: 0;

        }

        &:last-child {

            margin-right: 0;

            @media screen and (max-width: 1198px) {

                display: none;

            }
        }
    }
}
