.section-swiper {

    width: 100%;
    height: 790px;
    overflow: hidden;
    
    &__wrapper {

        display: flex;
        height: 100%;

    }

    &__slide {

        width: 100%;
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        background: $color-gray url('/images/section-swiper__bg.png') no-repeat center / cover;
        height: 100%;

    }

    &__content {

        max-width: 745px;
        width: 100%;
        padding: 111px 0 238px 0;
        box-sizing: border-box;

    }

    &__title {
   
        font-family: $font-title;
        font-size: 250px;
        font-weight: bold;
        text-transform: uppercase;

    }

    &__prev, &__next {

        background: url('/images/icons/arrow-right.svg') no-repeat 5px 3.5px;
        background-size: 80%;
        border: 4px solid #fff;
        box-shadow: 0 3px 6px 0 #00000074;
        width: 40px;
        height: 40px;
        position: absolute;
        top: calc(50% - 40px);
        border-radius: 50%;
        z-index: 3;
        cursor: pointer;

    }

    &__prev {
    
        transform: rotateY(180deg);
        left: 30px;
    
    }

    &__next {
    
        right: 30px;
    
    }

    &__pagination {

        position: absolute;
        bottom: 70px;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        height: 13px;
        max-width: 50px;
        width: 100%;

    }

    &__bullet {

        flex-shrink: 0;
        width: 14px;
        height: 100%;
        margin-right: 19px;
        z-index: 3;
        border-radius: 50%;
        background-color: #dcdcdc;
        transition: .6s ease;

        &_active {

            background-color: $color-green;
            transition: .6s ease;

        }

        &:last-child {

            margin: 0;

        }
    }
}

.section-info {

    display: flex;
    justify-content: space-between;

}

.section-info-item {

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 270px;
    margin-top: 71px;

    &__image {

        background: url('/images/section-info-item__image.png') no-repeat center / contain;
        width: 94px;
        height: 94px;
        margin-bottom: 54px;

    }

    &__title {

        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;

    }

    &__description {

        font-size: 17px;
        text-align: center;

    }

}

.section-purpose {

    display: flex;
    margin-top: 120px;

    &__image {

        max-width: 500px;
        width: 100%;
        height: 480px;
        background: url('/images/section-purpose__image.png') no-repeat center / cover;
        flex-shrink: 0;
        margin-right: 20px;

    }

    &__wrapper {

        display: flex;
        flex-direction: column;

    }

    &__content {

        display: flex;
        margin-top: 25px;

    }

    &__column {

        margin-right: 20px;

        &:last-child {

            margin-right: 0

        }

    }

}
