.buttons-contact

    .buttons-contact__button.buttons-contact__button_call Заказать звонок

        include ../../images/icons/phone-call.svg

    .buttons-contact__button.buttons-contact__button_request Оставить запрос

        include ../../images/icons/paper-plane.svg
