footer.footer

    .footer__wrapper

        .footer__menu

            nav.footer__nav.footer-nav

                -
                    var list = ["О нас", "Продукция", "Контакты"]

                each item in list

                    a.footer-nav__link(href="#")= item

            nav.footer__nav.footer-nav

                -
                    var list = ["Вся продукция", "Ножи промышленные", "Гильотины", 'Заточенные', 'Пилы']

                each item in list

                    a.footer-nav__link(href="#")= item




