footer.footer

    .footer__wrapper

        .footer__menu

            nav.footer__nav.footer-nav

                -
                    var list = ["О нас", "Продукция", "Контакты"]

                each item in list

                    a.footer-nav__link(href="#")= item

            nav.footer__nav.footer-nav

                -
                    var list = ["Вся продукция", "Ножи промышленные", "Гильотины", 'Заточенные', 'Пилы']

                each item in list

                    a.footer-nav__link(href="#")= item

        .footer__contact.footer-contact

            .footer-contact__contacts

                a(href="tel: +7 (812) 380 85 32").footer-contact__contacts-link +7 (812) 380 85 32 

                a(href="tel: +7 (812) 380 85 32").footer-contact__contacts-link sales@bktforsunka.ru 

            .footer-contact__row

                .footer-contact__link Заказать звонок

                .footer-contact__link Оставить запрос




