header.header

    .header__wrapper

        .header__wrapper-left

            a(href="/index.html").header__logo

            #header__menu-btn.button-menu.button-menu_header

                button(type="button").hamburger.hamburger--spin

                    span.hamburger-box

                        span.hamburger-inner

            nav.header__nav.header-nav

                .header-nav__wrapper-title

                    .button-menu.button-menu_header

                        button(type="button").hamburger.hamburger--spin

                            span.hamburger-box

                                span.hamburger-inner

                    .header-nav__title Меню

                -
                    var list = ["О нас", "Продукция", "Контакты"]

                each item in list

                    a.header-nav__link(href="#")= item

        .header__contacts.header-contacts

            a(href="tel: +7 (812) 380 85 32").header-contacts__link +7 (812) 380 85 32;

            a(href="mailTo: sales@bktforsunka.ru").header-contacts__link sales@bktforsunka.ru

