header.header

    .header__wrapper

        .header__wrapper-left

            a(href="./index.html").header__logo

            #header__menu-btn.button-menu.button-menu_header

                button(type="button").hamburger.hamburger--spin

                    span.hamburger-box

                        span.hamburger-inner

            nav.header__nav.header-nav

                .header-nav__wrapper-title

                    .button-menu.button-menu_header

                        button(type="button").hamburger.hamburger--spin

                            span.hamburger-box

                                span.hamburger-inner

                    .header-nav__title Меню

                .header-nav__item

                    a(href="./about-us.html").header-nav__link.header-nav__link_level_0 О нас

                .header-nav__item

                    a(href="./products.html").header-nav__link.header-nav__link_level_0.header-nav__item_active Продукция

                    .header-nav.header-nav_level_1

                        a(href="#").header-nav__link.header-nav__link_level_1 Вся продукция

                        a(href="#").header-nav__link.header-nav__link_level_1 Гильотины

                        a(href="#").header-nav__link.header-nav__link_level_1 Дисковые

                        a(href="#").header-nav__link.header-nav__link_level_1 Заточеные

                        a(href="#").header-nav__link.header-nav__link_level_1 Другие

                .header-nav__item

                    a(href="./contacts.html").header-nav__link.header-nav__link_level_0 Контакты

        .header__contacts.header-contacts

            a(href="tel: +7 (812) 380 85 32").header-contacts__link +7 (812) 380 85 32;

            a(href="mailTo: sales@bktforsunka.ru").header-contacts__link sales@bktforsunka.ru

