.popup

    .popup__content

        .popup__item.popup__item_column

            .popup__title Ваш E-Mail

            input(type="text").popup__input

        .popup__item.popup__item_column

            .popup__title Ваш вопрос

            input(type="text").popup__input

        .popup__item.popup__item_column

            .popup__title Можете прикрепить файл

            input(type="text").popup__input

        .popup__item.popup__item_row

            input(type="checkbox")

            .popup__agree Я согласен на обработку персональных данных

        .button.button__send Отправить заявку


