.popup

    .popup__content

        .popup__item.popup__item_column

            .popup__title Ваш EMail

            input(type="text" placeholder="***@***").popup__input

        .popup__item.popup__item_column

            .popup__title Ваш вопрос

            input(type="text" placeholder="Введите текст").popup__input

        .popup__item.popup__item_column

            .popup__title Можете прикрепить файл

            input(type="file").popup__input

        .popup__item.popup__item_row

            input(type="checkbox")

            .popup__agree Я согласен на обработку персональных данных

        .button.button_send Отправить заявку


