.popup

    .popup__content

        .popup__item.popup__item_column

            label(for="input_1").popup__label Ваш EMail

            input(type="text" placeholder="***@***" id="input_1").popup__input

        .popup__item.popup__item_column

            label(for="input_2").popup__label Ваш вопрос

            input(type="text" placeholder="Введите текст" id="input_2").popup__input

        .popup__item.popup__item_column

            label(for="input_3").popup__label Можете прикрепить файл

            input(type="file" id="input_3" multiple).popup__input.popup__input_file

        .popup__item.popup__item_row

            .popup__checkbox-wrapper

                label.checkbox-label

                    input(type="checkbox")

                    span.checkbox-custom.rectangular

            .popup__agree Я согласен на 

                a(href="#").popup__agree-link обработку персональных данных

        .button.button_send Отправить заявку


