.footer {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #92b74d;

    &__wrapper {

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: $width-container;
        box-sizing: border-box;

    }

}


