.footer {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #92b74d;

    &__wrapper {

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        max-width: $width-container;
        box-sizing: border-box;
        padding: 28px 20px 20px 63px;

        @media screen and (max-width: 1186px) {

            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

        }
    }

    &__menu {

        display: flex;

        @media screen and (max-width: 1186px) {

            flex-direction: column;
            margin-bottom: 46px;

        }
    }

    &__menu-wrapper {

        display: flex;
        margin-right: 125px;

        &:last-child {

            margin-right: 0;

        }

        @media screen and (max-width: 1186px) {

            margin: 0 0 32px;

            &:last-child {

                margin-bottom: 0;

            }
        }
    }

    &__section-title {

        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);

        /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        display: flex;
        align-self: flex-start;
        letter-spacing: 0.7px;
        margin-top: 20px;

    }

}

.footer-nav {

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-top: 10px;
    box-sizing: border-box;

    &__link {

        align-self: flex-start;
        color: #fff;
        font-size: 18px;
        margin-bottom: 14px;
        border-bottom: 1px solid transparent;
        transition: .3s ease;
        cursor: pointer;
        transition: .3s ease;
        box-sizing: border-box;
        padding: 0 3px;

        &:hover {

            color: $color-black;
            border-bottom-color: $color-black;
            transition: .3s ease;

        }

        &:last-child {

            margin-bottom: 0;

        }
    }
}

.footer-contact {

    display: flex;
    flex-direction: column;
    padding-top: 16px;

    &__contacts {

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 56px;

        @media screen and (max-width: 1186px) {

            display: none;

        }
    }

    &__contacts-link {

        color: #fff;
        font-size: 16px;
        margin-bottom: 14px;
        border-bottom: 1px solid transparent;
        transition: .3s ease;
        box-sizing: border-box;
        padding: 0 3px;

        &:hover {

            color: $color-black;
            border-bottom-color: $color-black;
            transition: .3s ease;

        }

        &:last-child {

            margin-bottom: 0;

        }
    }

    &__row {

        display: flex;
        justify-content: space-between;
        width: 100%;

        @media screen and (max-width: 1186px) {

            flex-direction: column;

        }
    }

    &__link {

        font-size: 29.5px;
        color: #fff;
        text-transform: uppercase;
        word-spacing: 16px;
        margin-right: 102px;
        border-bottom: 5px solid transparent;
        transition: .3s ease;
        cursor: pointer;
        box-sizing: border-box;
        padding: 0 3px;

        &:hover {

            color: $color-black;
            border-bottom-color: $color-black;
            transition: .3s ease;

        }

        &:last-child {

            margin-right: 0;

        }

        @media screen and (max-width: 1186px) {

            margin: 0 0 10px 0;

        }
    }
}
