.header {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__wrapper {

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: $width-container;
        padding: 11px 20px 20px;
        box-sizing: border-box;

        @media screen and (max-width: 1056px) {
        
            flex-direction: column-reverse;
            align-items: flex-start;
            justify-content: flex-start;
        
        }
    }

    &__wrapper-left {

        display: flex;
        align-items: center;

    }

    &__logo {

        width: 190px;
        height: 64px;
        background: url('/images/logo.png');
        margin-right: 50px;

    }
}

.header-nav {

    display: flex;
    align-items: center;
    margin-right: 15px;


    @media screen and (max-width: 1056px) {
    
        display: none;
    
    }

    &__link {

        font-size: 18px;
        color: $color-black;
        text-decoration: none;
        margin-right: 55px;
        transition: 1s ease;

        &:hover {

            color: $color-green;
            transition: 1s ease;

        }

        &_active {
        
            border-bottom: 5px solid $color-green;
            color: $color-green;
        
        }

        &:last-child {

            margin-right: 0;

        }
    }
}

.header-contacts {

    display: flex;
    align-items: center;

    @media screen and (max-width: 1056px) {

        margin: 0 0 11px 0;

    }


    &__link {

        font-size: 16px;
        color: $color-black;
        text-decoration: none;
        margin-right: 33px;
        border-bottom: 1px solid transparent;
        transition: 1s ease;

        &:hover {

            color: $color-green;
            border-color: $color-green;
            transition: 1s ease;

        }

        &:last-child {

            margin-right: 0;

        }
    }
}
